@import "font-awesome/css/font-awesome.min.css";


/* MAIN */
html { cursor: default; background-color: #323232; }
body { margin: 0px; min-width: 740px; background-color: #FFF; font-family: 'Open Sans', sans-serif;
      -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
*[onclick] { cursor: pointer; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { background-color: none !important; }
.spacer { clear: both; }
.loader { text-align: center; font-size: 25px; margin: 40px 0px; }
.content { max-width: 1200px; margin: 0px auto; padding: 20px 10px; }
.admin_icon { cursor: pointer; }

.title, .title_1, h1, h2, h3, h4, h5, nav { font-family: Ubuntu, sans-serif; }

.title_1 { margin-bottom: 20px; background-color: #B3231B; color: #FFF; padding: 15px 20px; text-transform: uppercase; font-size: 20px; font-weight: bold; }
.title_1 > .subtitle { font-size: 14px; margin-top: 10px; }

.active_1 { text-decoration: underline; }
.active_1:hover { text-decoration: underline; }

.buttons { text-align: right; }
button, input[type=button], input[type=submit] { font-family: inherit; font-size: inherit; border: none; padding: 0; margin: 0; }
.button_submit { display: inline-block; background-color: #B3231B; margin-bottom: 20px; color: white; font-weight: bold; padding: 5px 15px; font-size: 15px; border-radius: 5px; box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3); }
.button_submit#empty_add, .button_submit.disabled { display: inline-block; background-color: #666; }
.button_submit.add_absence { margin-top: 20px; }
.button_print { margin: 0; }
.hidden { display: none; }

.input_title { font-size: 20px; margin: 10px 0px; font-weight: bold; color: #323232; }

.input_value { background-color: #EEE; border-radius: 5px; box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.5); padding: 3px 10px; float: left; }
.input_value span { display: inline-block; margin: 5px; border-radius: 3px; box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3); color: white; background-color: #323232; padding: 3px 10px; font-weight: bold; transition-duration: 0.5s; }
.input_value input { display: none; }
.input_value input:checked ~ span { background-color: #B3231B; }

.input_text { background-color: #FEFEFE; border-radius: 5px; box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.5); padding: 5px 10px; border: none; font-size: 16px; }
.input_text[name="c_description"] { width: 90%; max-width: 800px; }
.input_text[name="c_from_h"], .input_text[name="c_from_m"], .input_text[name="c_to_h"], .input_text[name="c_to_m"] { width: 40px; text-align: center; }

.input_subtype { max-height: 0px; overflow: hidden; transition-duration: 0.5s; }
.input_time { max-height: 0px; overflow: hidden; transition-duration: 0.5s; margin-top: 10px; }
.input_time > div { margin: 5px 0px; }

.input_help { color: #555; font-size: 15px; font-style: italic; }


/* MESSAGES */
.message { border-radius: 3px; font-size: 16px; padding: 20px 30px ; margin-bottom: 20px; color: rgba(0,0,0,0.8); overflow: hidden; position: relative; }
.message .fa { font-size: 40px; margin-right: 30px; display: inline-block; float: left; }
.message.error { background-color: #FFECEC; box-shadow: 0px 0px 3px 1px #E85C58; }
.message.error .fa { color: #E33630; }
.message.info { background-color: #E3F7FC; box-shadow: 0px 0px 3px 1px #B6E6F9; }
.message.info .fa { color: #0473DD; }
.message.ok { background-color: #E9FFD9; box-shadow: 0px 0px 3px 1px #C5E0B1; }
.message.ok .fa { color: #11B922; }
.message.print { font-size: small; padding: 0.25em 0.5em; margin: 0; }


/* HEADER */
header .content { padding: 0px 10px; }
header { position: relative; overflow: hidden; background-image: url("../image/dai-header80.jpg"); background-color: #191919; background-position: center; background-repeat: no-repeat; }
header > .content { position: relative; margin-top: 30px; margin-bottom: 30px; }
header > .top { background-color: rgba(0,0,0,0.5); color: #FFF; padding: 8px 10px; }
header > div > a { margin: 19px; }
header h1 { padding: 0; margin: 10px 0; font-size: 30px; line-height: 30px; color: #FFF; text-transform: uppercase; text-shadow: 0px 0px 3px rgba(0,0,0,0.8); }
header h2 { padding: 0; margin: 10px 0; font-size: 20px; line-height: 20px; color: #FFF; text-transform: uppercase; text-shadow: 0px 0px 3px rgba(0,0,0,0.8); font-weight: normal; }

header .login_form { text-align: right; font-size: 14px; position: relative; }
header .login_form  input, header .login_form  label { border-radius: 3px; border: none; font-size: 12px; }
header .login_form  input { margin: 0px 10px; padding: 3px 6px; }
header .login_form  label { background-color: #B3231B; color: #FFF; padding: 6px 10px; cursor: pointer; }
header .login_form  label:hover { background-color: #535250; }
header .login_form  input[type='submit'], header .login_form  input[type='button'] { display: none; }

.lost_pass { position: absolute; margin-top: 35px; right: 0px; color: #B3231B; font-size: 14px; z-index: 100; font-weight: bold; }
.lost_pass:hover { text-decoration: underline; }

#lost_pass_form { color: #FFF; position: absolute; margin-top: 60px; right: 0px; z-index: 100; background-color: rgba(0,0,0,0.5); padding: 10px; border-radius: 10px; display: none; }

header .logged_panel { font-weight: bold; text-align: right;  }
header .logged_panel > * { border-right: 1px solid #FFF; }
header .logged_panel > *:last-child { border-right: none; }
header .logged_panel .fa { font-size: 16px; vertical-align: middle; }
header .logged_panel > span { font-size: 14px; padding: 0px 15px; }
header .logged_panel > span .fa { margin-right: 10px; }
header .logged_panel > .name { padding: 0px 15px; font-size: 14px; }
header .logged_panel > .name > span { color: #B3231B; padding-left: 5px; }
header .logged_panel > a { font-size: 16px; }
header .logged_panel > a > span { padding: 0px 15px; }

nav { background-color: rgba(0,0,0,0.4); width: 100%; }
nav ul { padding: 5px 10px; max-width: 1200px; margin: 0px auto; font-weight: bold; text-transform: uppercase; font-size: 14px; }
nav ul > li { border-right: 1px solid #CCC; border-left: 1px solid #CCC; color: #FFF; list-style: none; list-style-type: none; float: left; padding: 2px 15px; }
nav ul > li:first-of-type { border-left: none; padding-left: 0; }
nav ul > li:last-of-type { border-right: none; }
nav ul > li:hover { text-decoration: underline; cursor: pointer; }
nav .active { text-decoration: underline; }


/* FOOTER */
footer { background-color: #323232; font-size: 12px; color: #FFF; padding: 15px 10px; }
footer .copyright { float: left; }
footer .about { color: #FFBD43; float: right; cursor: pointer; }


/* SIDE TABLE */
.side_table { width: 300px; float: left; box-shadow: inset 0px 0px 0px 2px rgb(216, 216, 216); }
.side_table > .title { background-color: #B3231B; color: #FFF; font-size: 16px; font-weight: bold; text-transform: uppercase; padding: 15px 15px; }
.side_table > .value { padding: 8px 15px; margin: 0px 10px; border-bottom: 1px solid rgb(216, 216, 216); font-size: 14px; color: #444; cursor: pointer; }
.side_table > .value > .personal_id { font-size: 12px; color: #999; }
.side_table > .value:last-of-type { border-bottom: none; margin-bottom: 2px; }
.side_table > .value:hover { background-color: #EEE; }
.side_table .empty { font-size: 14px; color: #888; padding: 10px 15px; }
.side_table h3 { font-size: 16px; margin: 0; }
.side_table > .value > * { margin-top: 8px; }
.side_table > .value > *:first-child { margin-top: 0; }

/* FORMS */
.form { padding: 0px 20px; }
.form > div { margin: 10px; }
.form > div > label { display: block; font-size: 14px; margin-left: -10px; }
.form > .name { margin: 0px; background-color: #B3231B; color: #FFF; padding: 15px 20px; text-transform: uppercase; font-size: 16px; font-weight: bold; }

.form > div > input[type='text'] ,
.form > div > input[type='password'] { border-radius: 5px; padding: 4px 8px; margin: 3px 0px; border: none;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3); font-size: 15px; color: #333; width: 300px; }

.form > div > input[type='text']:focus,
.form > div > input[type='password']:focus { box-shadow: 0px 0px 3px 1px #B3231B; }

.form > div > input[type='button'] { background-color: #B3231B; color: #FFF; border: none; border-radius: 5px; padding: 4px 8px;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3); margin-left: 10px; }

.form > div > input[type='button']:hover { background-color: #535250; cursor: pointer; }
.form .status { font-size: 14px; color: #666; }
.form .info { font-size: 12px; margin: 5px 0px; font-weight: bold; color: #444; }
.form .info .fa { margin-right: 5px; }


/* OVERVIEW */
#overview { padding-bottom: 20px; }

#overview_table { margin-left: 320px; overflow: hidden; }

#overview_table > .filter { color: #444; font-size: 16px; margin-top: 15px; padding: 0px 10px; }
#overview_table > .filter > strong { margin-right: 10px; }
#overview_table > .filter > .fa-times { margin-left: 10px; cursor: pointer; color: #B3231B; }

#overview_table > .title { background-color: #323232; color: #FFF; padding: 20px 25px; text-transform: uppercase; font-size: 18px; font-weight: bold; }
#overview_table > .title > span { font-size: 14px; padding: 2px 10px; cursor: pointer; }
#overview_table > .title > span:hover { color: #B3231B; }
#overview_table > .title > span:first-of-type { margin-left: -10px; }
#overview_table > .title > span:last-of-type { margin-right: -10px; }
#overview_table > .title:after { content: ''; display:block; height: 0; overflow: hidden; clear: right; }
#overview_table > .title > .button_download { margin: -2px 0 -5px 25px; float: right; }

#overview_table > .box { box-shadow: inset 0px 0px 0px 2px rgb(216, 216, 216); margin: 15px 0px; padding: 0px 10px; font-size: 14px; color: #555; }
#overview_table > .box > .title { background-color: #535250; color: #FFF; margin: 0px -10px; padding: 10px 15px; text-transform: uppercase; font-size: 16px; font-weight: bold; }
#overview_table > .box > .holiday { background-color: #B3231B; }

#overview_table > .box > table { width: 100%; border-spacing: 0px; }
#overview_table > .box > table .value > td { padding-top: 0px; padding: 8px 10px 0px 10px; }
#overview_table > .box > table .value > .name { font-weight: bold; width: 99%; }
#overview_table > .box > table .value > .name > strong { color: #B3231B; }
#overview_table > .box > table .value > .name > span { font-size: 12px; color: #B3231B; margin: 0px 5px 0px -5px; width: 15px; }
#overview_table > .box > table .value > .time { font-weight: bold; white-space: nowrap; }
#overview_table > .box > table .value > .time > strong { color: #B3231B;  }
#overview_table > .box > table .value > .type { white-space: nowrap; }

#overview_table > .box > table .subtype > td { padding: 0px 10px; font-style: italic; font-size: 12px; }

#overview_table > .box > table .desc > td { color: #777; padding: 0px 10px 8px 10px; font-size: 12px; border-bottom: 1px solid rgb(216, 216, 216); }
#overview_table > .box > table .desc:last-of-type > td { border-bottom: none; }


/* CALENDAR */
#calendar .side_table { margin-top: 15px; }
#calendar_table { margin: 20px 0px; width: 100%; table-layout: fixed; text-align: center; font-weight: bold; font-size: 15px; line-height: 20px; }

#calendar_table tr:first-child { color: #FFF; }
#calendar_table tr:nth-child(2) { color: #AAA; }
#calendar_table th, #calendar_table td { padding: 10px 0px; }
#calendar_table th { background-color: #323232; }
#calendar_table td { position: relative; }
#calendar_table td.empty { background-color: #F5F5F5; }
#calendar_table td.week { background-color: #DDD; }
#calendar_table td.weekend { background-color: #AAA; }
#calendar_table td.absence { background-color: #B3231B; color: white; }
#calendar_table td.holiday { background-color: #FFBD43; }
.absence-type-icon { position: absolute; left: 8px; line-height: inherit; }
.approval-icon { position: absolute; right: 8px; line-height: inherit; }
.small { font-size: 80%; }


/* USERS */
#users .title_1 .subtitle a { margin: 0px 10px; }

#users .table { margin: -10px 0px 10px 0px; }

#users .table .char { margin: 10px 0px; background-color: rgb(83, 82, 80); padding: 5px 15px; color: white;
font-size: 18px; font-weight: bold;}

#users .table .person { padding: 5px 15px; background-color: #EEE; margin: 2px 0px; }
#users .table .person:hover { background-color: #CCC; }
#users .table .person .personal_id { color: #888; }
#users .table .person .icons { float: right; font-size: 18px; }
#users .table .person .icons .fa { margin-left: 25px; vertical-align: top; }
#users .table .person .icons .fa-edit { color: #008; font-size: 20px; }
#users .table .person .icons .fa-edit:hover { color: #00F; }

#users .table .person .icons > span .fa { margin-right: 5px; vertical-align: middle; }
#users .table .person .icons > span strong { color: #B3231B; }


/* EVENTS */
#events .title_1 .subtitle a:first-of-type .fa { margin-right: 10px; }
#events .title_1 .subtitle a:last-of-type .fa { margin-left: 10px; }

#events .add { font-weight: bold; margin-bottom: 20px; background-color: #DDD; padding: 10px 15px; }
#events .add .title { font-size: 18px; margin-bottom: 10px; }
#events .add .info { font-size: 12px; margin: 5px 0px; font-weight: bold; color: #222; }
#events .add input { padding: 2px 5px; width: 25px; margin: 5px 0px; text-align: center; }
#events .add input[name='description'] { width: 300px; text-align: left; }
#events .add .button_submit { margin: 5px 0px; }


#terms .title_1 .subtitle a:first-of-type .fa { margin-right: 10px; }
#terms .title_1 .subtitle a:last-of-type .fa { margin-left: 10px; }
#requests .title_1 .subtitle a:first-of-type .fa { margin-right: 10px; }
#requests .title_1 .subtitle a:last-of-type .fa { margin-left: 10px; }

.table_3 table { width: 100%; }
.table_3 table tr { transition-duration: 0.5s; }
.table_3 table tr:nth-child(even) { background-color: #FFF; }
.table_3 table tr:nth-child(odd) { background-color: #DDD; }
.table_3 table th { background-color: #323232; color: #FFF; padding: 10px 15px; text-align: left; }
.table_3 table td { padding: 5px 15px; }
.table_3 table tr td:nth-child(1) { font-weight: bold; text-align: center; }
.table_3 table tr td[colspan='3'] { text-align: left; background-color: #DDD; }
.table_3 table tr td:nth-child(1) div { white-space: nowrap; }
.table_3 table tr td:nth-child(1) div strong { color: #B3231B; }
.table_3 table tr td:nth-child(2) { width: 99%; }
.table_3 table tr td:nth-child(2) input { width: 30px; text-align: center; }
.table_3 table tr td:nth-child(3) { background-color: #B3231B; color: #FFF; }
.table_3 table tr td:nth-child(3).disable { background-color: #AAA; text-align: center; }
.table_3 table tr td:nth-child(3).enable { background-color: #23B31B; text-align: center; }
.desc { color: #777; font-size: 12px; }
